<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodalit.ru Scraper</title>
</head>
<body>
    {% block content %}
    <button style="margin-bottom: 20px;" onclick="send()" style="margin-top: 20px;">Вернуться на главную</button>
    <table style="border: 1px solid black;">
        <tr style="border: 1px solid black;">
          <th style="border: 1px solid black;">name</th>
          <th style="border: 1px solid black;">author</th>
          <th style="border: 1px solid black;">cost</th>
          <th style="border: 1px solid black;">url</th>
        </tr>
        {% for book in books %}
        <tr style="border: 1px solid black;">
          <td style="border: 1px solid black;">{{book[0]}}</td>
          <td style="border: 1px solid black;">{{book[1]}}</td>
          <td style="border: 1px solid black;">{{book[2]}}</td>
          <td style="border: 1px solid black;">{{book[3]}}</td>
        </tr>
        {% endfor %}
    </table> 
    {% endblock %}
<script>
    async function send(){
        window.location.href = `/`;
    }
</script>
</body>
</html>